<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auto-badge-gen" method="post" enctype="multipart/form-data">
      <label for="fileUpload">CSV File Upload</label>
      <input type="file" id="fileUpload" name="csvFile" value="" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
